<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create Account</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='createAccount.css') }}"
		/>
	</head>
	<body>
		<div class="container">
			<header>
				<h1>Create New Account</h1>
				<a href="{{ url_for('index.index') }}"
					><button>Back to Dashboard</button></a
				>
			</header>

			<section class="form-section">
				<form
					id="create-account-form"
					method="POST"
					action="{{ url_for('create_account.create_account') }}"
				>
					<div class="form-group">
						<label for="name">Account Name:</label>
						<input type="text" id="name" name="name" required />
					</div>
					<div class="form-group">
						<label for="login">Login:</label>
						<input type="text" id="login" name="login" required />
					</div>
					<div class="form-group">
						<label for="password">Password:</label>
						<input type="password" id="password" name="password" required />
					</div>
					<div class="form-group">
						<label for="server">Server:</label>
						<input type="text" id="server" name="server" required />
					</div>
					<div class="form-group">
						<label for="deposit">Deposit per set:</label>
						<input type="text" id="deposit" name="deposit" required />
					</div>
					<div class="form-group">
						<label for="terminalFilePath">Terminal File Path:</label>
						<input
							type="text"
							id="terminalFilePath"
							name="terminalFilePath"
							required
						/>
					</div>
					<div class="form-group">
						<label for="dataPath">Data Path:</label>
						<input type="text" id="dataPath" name="dataPath" required />
					</div>
					<div class="form-group">
						<label for="type">Type:</label>
						<select id="type" name="type" required>
							<option value="master">Master</option>
							<option value="slave">Slave</option>
						</select>
					</div>
					<div class="form-group">
						<button type="submit">Create Account</button>
					</div>
				</form>
			</section>
		</div>
	</body>
</html>
