<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='test.css') }}"
		/>
		<script>
			var accounts = {{ accounts | tojson }};
		</script>
		<title>POW Tracker - Accounts</title>
	</head>

	<body class="dark">
		<!-- Sidebar -->
		<div class="sidebar">
			<a href="#" class="logo">
				<i class="bx bx-code-alt"></i>
				<div class="logo-name"><span>POW</span>Tracker</div>
			</a>
			<ul class="side-menu">
				<li class="active">
					<a href=""><i class="bx bxs-dashboard"></i>Accounts</a>
				</li>
				<li>
					<a href=""><i class="bx bx-store-alt"></i>Tracker</a>
				</li>
				<li>
					<a href="/set_loader"><i class="bx bx-analyse"></i>Set Loader</a>
				</li>
				<li>
					<a href="/config"><i class="bx bx-message-square-dots"></i>Config</a>
				</li>
				<li>
					<a href="/error_log"><i class="bx bx-group"></i>Error Log</a>
				</li>
			</ul>
			<ul class="side-menu">
				
			</ul>
		</div>
		<!-- End of Sidebar -->

		<!-- Main Content -->
		<div class="content">
			<!-- Navbar -->
			<nav>
				<i class="bx bx-menu"></i>
				<form action="#">
					<div class="form-input" style="display: none">
						<input type="search" placeholder="Search..." />
						<button class="search-btn" type="submit">
							<i class="bx bx-search"></i>
						</button>
					</div>
				</form>
				<input type="checkbox" id="theme-toggle" hidden />
				<label for="theme-toggle" class="theme-toggle"></label>
				<a href="#" class="notif">
					<i class="bx bx-bell"></i>
					<span class="count">12</span>
				</a>
				
			</nav>

			<!-- End of Navbar -->

			<main>
				<div class="header">
					<div class="left">
						<h1>Tracker</h1>
					</div>
					
					<div style="display: flex; justify-content: center; align-items: center; gap: 10px;">
						<a href="/create_account"><button class="button">Add Account</button></a>
					</div>
				</div>

				<!-- Insights -->
				<ul class="insights">
					<li>
						<i class="bx bx-dollar-circle"></i>
						<span class="info">
							<h3>1,074</h3>
							<p>Total Profit</p>
						</span>
					</li>
					<li>
						<i class="bx bx-show-alt"></i>
						<span class="info">
							<h3>324</h3>
							<p>Real Sets</p>
						</span>
					</li>
					<li>
						<i class="bx bx-line-chart"></i>
						<span class="info">
							<h3>14,721</h3>
							<p>Test Sets</p>
						</span>
					</li>
					<li>
						<i class="bx bx-calendar-check"></i>
						<span class="info">
							<h3>43</h3>
							<p>Days Live</p>
						</span>
					</li>
				</ul>
				<!-- End of Insights -->

				<div class="bottom-data">
					<div class="orders">
						<div class="header">
							<i class="bx bx-receipt"></i>
							<h3>Accounts</h3>
							<i class="bx bx-filter"></i>
							<i class="bx bx-search"></i>
						</div>
						<table id="data-table">
							<thead>
								<tr>
									<th>Account Number</th>
									<th>Type</th>
									<th>Status</th>
									<th>View</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>

					<!-- End of Reminders-->
				</div>
			</main>
		</div>

		<script src={{url_for('static', filename='test.js')}}></script>
		<script src={{url_for('static', filename='indexScript.js')}}></script>
	</body>
</html>
